@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  animation: fadeIn ease 2.25s;
}

body {
  font-family: "Outfit", sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
  background-image: url("./assets/heroBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#shows {
  background-color: #25282a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23464749' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23676667' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23888486' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23a9a3a4' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23CAC2C3' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 450px) {
  #shows {
    background-attachment: inherit;
  }
}

.room--service__container {
  background-image: linear-gradient(
    to left bottom,
    #f88180,
    #ee82b5,
    #c492e0,
    #7fa5f4,
    #12b3eb
  );
}

@media (max-width: 450px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url("./assets/heroBackground.webp");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #000;
  }

  .mobile--title {
    font-size: 5.5rem;
  }
  .navbar {
    display: none;
  }

  .social--media--container {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav--open {
    transform: translateX(0);
  }

  .nav--link--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .social--media--container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-color: #fff;
    gap: 1rem;
    margin: 2rem 0;
  }

  .mobile--width {
    width: 18rem;
  }
}
